<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="/#/about">About</a></li>
    </ul>
    <h3 class="text-muted">VIT Team 19</h3>
</div>
<div class>
    <h2>Sana Component Creator </h2>
    <p> Create a component and visualize what it will look like.</p>
    <hr>
</div>
<div class="container">
    <div class="row">

        <div class="col-lg-6">
            <form role="form">
                <div class="form-group">
                    <label for="exampleInputEmail1">Component Name</label>
                    <input id="compName" ng-model="comp.cName" type="text" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Component Concept</label>
                    <select class="form-control" ng-options="qConcept for qConcept in qConcepts"
                            ng-model="comp.cConcept"></select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Component Keywords</label>
                    <input ng-model="comp.cKeywords" type="text" class="form-control"
                           placeholder="BMI, Body Mass, Index">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Question Text</label>
                    <input ng-model="comp.cText" type="text" class="form-control"
                           placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Helper Text</label>
                    <input ng-model="comp.cHelperText" type="text" class="form-control"
                           placeholder="Primary Colors Only Please">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Component Type</label>
                    <select class="form-control" ng-options="qType.name for qType in qTypes"
                            ng-model="comp.qTypeSel"></select>
                </div>

                <!-- options group -->
                <div id="optionsGroup" ng-show="comp.qTypeSel.name == 'Radio Buttons' || comp.qTypeSel.name == 'Check Boxes'">

                    <div class="form-group" ng-repeat="op in comp.cOption">
                        <div class="input-group">
                            <label for="">Option {{op.index}} </label>
                                <span class="input-group-addon">
                                  <input type="checkbox" ng-show="comp.qTypeSel.name =='Check Boxes'">
                                  <input type="radio" ng-show="comp.qTypeSel.name =='Radio Buttons'">
                                </span>
                            <input type="text" class="form-control" ng-model="op.value">
                        </div>
                    </div>
                    <button class="btn btn-default" id="addOption">+</button>
                    <script src="scripts/script.js"></script>

                    <!-- /input-group -->
                </div>


                <div class="form-group" ng-show="comp.qTypeSel.name == 'Image' || comp.qTypeSel.name == 'Video' || comp.qTypeSel.name == 'Audio' " >
                    <label for="exampleInputFile">{{comp.qTypeSel.name}} Upload</label>
                    <input type="file" id="exampleInputFile">
                    <p class="help-block">Supported files...</p>
                </div>

                <div class="form-group" ng-show="comp.qTypeSel.name == 'Free Text' || comp.qTypeSel.name == 'Number' || comp.qTypeSel.name == 'Computation'">
                    <label for="exampleInputEmail1">Default Placeholder Value</label>
                    <input type="text" class="form-control" placeholder="Enter default value" ng-model="comp.cPlaceholder">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Validation Options</label>
                    <input type="text" class="form-control" ng-model="comp.cValidation" placeholder="Other constraints/validation notes">
                </div>




                <button class="btn btn-default" data-toggle="modal" data-target="#myModal">Save</button>
            </form>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Review Component</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <tr>
                                    <td>Name</td>
                                    <td>{{comp.cName}}</td>
                                </tr>
                                <tr>
                                    <td>Concept</td>
                                    <td>{{comp.cConcept}}</td>
                                </tr>
                                <tr>
                                    <td>Keywords</td>
                                    <td>{{comp.cKeywords}}</td>
                                </tr>
                                <tr>
                                    <td>Type</td>
                                    <td>{{comp.qTypeSel.name}}</td>
                                </tr>
                                <tr>
                                    <td>Question</td>
                                    <td>{{comp.cText}}</td>
                                </tr>
                                <tr>
                                    <td>Helper Text</td>
                                    <td>{{comp.cHelperText}}</td>
                                </tr>
                                <tr ng-include="comp.qTypeSel.tableUrl"></tr>
                            </table>
                            <h4>JSON Data</h4>
                            <pre>{{ comp | json}}</pre>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //ng-show="appState == 'goodbye'" -->

        <!-- Other Column  -->
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Your Component: <b>{{comp.cName}}</b></h3>
                    <hr>
                    <!-- <ul> -->
                    <li>Concept: {{comp.cConcept}}</li>
                    <li>Keywords: {{comp.cKeywords}}</li>
                    <li>Component Type: {{ comp.qTypeSel.name }}</li>
                    <!-- </ul> -->
                </div>
                <div class="panel-body">

                    <h4> {{comp.cText}} </h4>
                    <h5 class="muted"> {{comp.cHelperText}} </h5>
                    <div ng-include="comp.qTypeSel.templateUrl"></div>

                </div>
            </div>

        </div>
    </div>
</div>


